/* Modal overlay to cover the screen */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
  
  /* Modal content box */
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 600px;
    max-width: 90%;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .modal-content h2 {
    margin-bottom: 20px;
  }
  
  .modal-content p {
    margin-bottom: 20px;
  }
  
  .modal-header {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center;
    margin-bottom: 20px;
    position: relative; /* To position the close button */
  }

  .modal-header h2 {
    font-size: 24px;
    margin: 0;
    text-align: center; /* Center the text */
  }
  

.modal-body {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 20px;
}

/* Modal footer styling */
.modal-footer {
  display: flex;
  justify-content: space-between;
}

.generate-pdf-button {
  background-color: #f1c40f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.generate-pdf-button:hover {
  background-color: #e1b00e;
}

.close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  position: absolute;
  right: 0; /* Move the close button to the far right */
}



.close-button:hover {
  color: #e74c3c;
}