body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("../frassbg.png") no-repeat center center fixed;
  background-size: cover;
}

.admin-home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.admin-header {
  background-color: #a4231c;
  padding: 20px;
  color: white;
  text-align: center;
  position: relative;
}

.admin-logo {
  width: 60px;
  margin-bottom: 10px;
}

.admin-header h1 {
  font-size: 24px;
  margin: 0;
}

.admin-header h2 {
  font-size: 18px;
  margin: 0;
}

.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logout-button .material-icons {
  margin-right: 5px;
}

.content-container {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 60px;
  background-color: #a4231c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.3s;
  overflow: hidden;
}

.sidebar.open {
  width: 200px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  text-align: center;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  height: 60px;
}

.sidebar ul li a .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-right: 15px;
}

.sidebar ul li a:hover {
  background-color: #811716;
}

.sidebar ul li a .label {
  display: none;
  white-space: nowrap;
}

.sidebar.open ul li a .label {
  display: inline;
}

.sidebar:hover {
  width: 200px;
}

.profile-section {
  margin-bottom: 10px;
}

.profile-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  height: 60px;
  background-color: #811716;
}

.profile-button .icon {
  font-size: 24px;
  margin-right: 15px;
}

.main-content {
  flex: 1;
  padding: 30px;
  color: #333;
}

.main-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.info-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.info-box {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 20px;
  border-radius: 10px;
  width: 32%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-box h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.info-box p {
  font-size: 16px;
  line-height: 1.5;
}

.admin-footer {
  background-color: #a4231c;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}

.sb-icons {
  width: 40px;
}

/* Read More Button Styles */
.read-more-button {
  background-color: #a4231c;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.read-more-button:hover {
  background-color: #811716;
}
