/.phpunit.cache
/node_modules
#regenerate ^ by npm install
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
#regenerate ^ by composer install
# .env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed

#php artisan key:generate
#php artisan migrate --seed
#npm run dev
#php artisan serve
#make sure mysql is on
