/* AdminBest.css */

.admin-home {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .content-container {
    display: flex;
    flex: 1;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f4f4f9;
    overflow-y: auto;
  }
  
  .capstone-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .capstone-header {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .capstone-header h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .capstone-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .capstone-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .capstone-table th, .capstone-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
    color: #333;
  }
  
  .capstone-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .capstone-footer {
    display: flex;
    justify-content: flex-end;
  }
  
  /* AdminBest.css */

.edit-button, .save-button, .cancel-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .save-button {
    background-color: #28a745;
  }
  
  .cancel-button {
    background-color: #dc3545;
  }
  
  .edit-button:hover, .save-button:hover, .cancel-button:hover {
    opacity: 0.9;
  }
  
  input[type="text"] {
    width: 90%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .capstone-table th, .capstone-table td {
      font-size: 14px;
    }
  
    .capstone-header h1 {
      font-size: 20px;
    }
  }
  