body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url(frassbg.png) no-repeat center center fixed;
  background-size: cover;
}

.password-recovery-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.header {
  background-color: #a4231c;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: white;
}

.header .logo {
  width: 80px; /* Increased logo size */
  margin-bottom: 15px;
}

.header h1 {
  margin: 0;
  font-size: 26px; /* Increased font size */
  font-weight: normal;
}

.header h2 {
  margin: 0;
  font-size: 18px; /* Increased font size */
  font-weight: normal;
}

.recovery-form-container {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 40px; /* Increased padding */
  border-radius: 10px;
  width: 500px; /* Increased width */
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.recovery-form-container h3 {
  margin-top: 0;
  font-size: 28px; /* Increased font size */
  color: #333;
}

.recovery-form-container p {
  font-size: 16px; /* Increased font size */
  color: #555;
  margin-bottom: 25px; /* Increased margin */
}

.recovery-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recovery-form label {
  font-weight: bold;
  margin-bottom: 8px; /* Increased margin */
  font-size: 16px; /* Increased font size */
}

.recovery-form input {
  width: 100%;
  padding: 12px; /* Increased padding */
  margin-bottom: 25px; /* Increased margin */
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px; /* Increased font size */
}

.reset-button {
  width: 100%;
  padding: 12px; /* Increased padding */
  background-color: #a4231c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px; /* Increased font size */
}

.reset-button:hover {
  background-color: #7a1914;
}

.back-to-login {
  display: block;
  margin-top: 20px; /* Increased margin */
  font-size: 16px; /* Increased font size */
  color: #0066cc;
  text-decoration: none;
}

.back-to-login:hover {
  text-decoration: underline;
}

.footer {
  background-color: #a4231c;
  color: white;
  padding: 15px; /* Increased padding */
  width: 100%;
  text-align: center;
  font-size: 14px; /* Increased font size */
}

.footer p {
  margin: 5px 0;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px; /* Increased margin between links */
}

.footer-links a:hover {
  text-decoration: underline;
}

.success-text {
  color: green;
  font-size: 0.875rem;
  margin-top: 1rem;
  text-align: center;
}
