body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("frassbg.png") no-repeat center center fixed;
  background-size: cover;
}

.login-sidebar {
  width: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.header {
  text-align: center;
  width: 100%;
}

.logo {
  width: 60px;
  margin-bottom: 20px;
}

h2 {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}

h3 {
  margin-top: 5px;
  font-size: 14px;
  font-weight: normal;
  color: gray;
}

.form-container {
  flex-grow: 1; /* Allows the form to take up available space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-form label {
  margin-top: 10px;
  font-weight: bold;
}

.login-form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.forgot-password {
  margin-bottom: 15px;
  font-size: 12px;
  color: #007bff;
  text-decoration: none;
  align-self: flex-end;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #a4231c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #7a1914;
}

.divider {
  margin: 20px 0;
  text-align: center;
  color: #a0a0a0;
  position: relative;
  width: 100%;
}

.divider:before,
.divider:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: #ddd;
}

.divider:before {
  left: 0;
}

.divider:after {
  right: 0;
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.google-button img {
  width: 20px;
  margin-right: 10px;
}

.google-button:hover {
  background-color: #357ae8;
}

.footer {
  margin-top: 15px;
  font-size: 12px;
  color: #a0a0a0;
  text-align: center;
}

.footer a {
  color: #a0a0a0;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.register-section {
  margin-top: 1rem;
  font-size: 1rem;
}

.register-link {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.register-link:hover {
  text-decoration: none;
}

.error-text {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
